{{ define "header" }}{{ partial "page-header.html" . }}{{ end }}
{{ define "main" }}
  <div class="flex-l mt2 mw8 center">
    <article class="center cf pv5 ph3 ph4-ns mw7">
        <div class="toc">
            {{ .TableOfContents }} <!-- Generates the TOC based on headers -->
          </div>

      <header>
        <h1 class="f1">
          {{ .Title }}
        </h1>
      </header>
      {{ with .Params.lastmod }}
      <p>Last Updated: {{ .Format "January 2, 2006" }}</p>
        {{ else }}
      <p>Published: {{ .Date.Format "January 2, 2006" }}</p>
      {{ end }}
      <div class="nested-copy-line-height lh-copy f4 nested-links {{ $.Param "text_color" | default "mid-gray" }}">
        {{ .Content }}
      </div>
    </article>
  </div>
{{ end }}